.header-section{
    background-color: #cd113b;
}

.header-company-name{
    font-family: 'Lato' sans-serif;
    color: #ffa900;
    font-size: 4rem;
}

.header-maritime-services{
    font-size: 2.5rem;
}
.smooth-sailing{
    line-height: 2;
}

.logo-container{
    border-radius: 50%;
    background-color: whitesmoke;
    width: 411px;
    height: 355px;
    margin: auto;
    padding: 30px;
}

ul.no-bullet-point{
    list-style-position: inside;
    position: absolute;
    top: 18%;
    right: 45%;
    font-size: larger;
    text-align: left;
}


.content-summary{
    color: #cd113b;
    position: relative;
    height: 854px;
}
.summary-text-bullet, .summary-text{
    z-index: 3;
    text-shadow: #ffa900 2px 3px 16px;
}

.summary-text{
    position: relative;
    top: 150px;
    left: 46px;
    line-height: 1.7;
    font-size: large;
}

.summary-text-bullet{
    position: relative;
}

.summary-pic{
    position: absolute;
    opacity: 0.6;
    top: 0%;
}

.page-divider{
    border-top: 10px whitesmoke dotted;
    opacity: 0.4;
    width: 40%;
    margin: 5px auto 20px;
}