nav{
    background-color: #cd113b;
}

nav a:link{
    color: #ff7600;
    text-decoration: none;
}

nav a:visited{
    color: #ff7600;
    text-decoration: none;
}

nav a:hover{
    color: #ffa900;
    text-decoration: none;
}

nav a:active{
    color: #ffa900;
    text-decoration: none;
}

.image-with-border{
    border-radius: 5%;
    border: 5px solid #cd113b ;
    width: 725px;
}

.list-in-a-box{
    border: 5px solid #52006a;
    border-radius: 5%;
    padding: 5px 10px 2px;
    background-color: #ffa900;
    height: 332px;
    width: 410px;
}

.size-box-between-pics{
    width: 20%;
    margin: 40px auto;
}

#header-section{
    background-color: #cd113b;
}

.header-company-name{
    font-family: 'Lato' sans-serif;
    color: #ffa900;
    font-size: 4rem;
}

.header-maritime-services{
    font-size: 2.5rem;
}
.smooth-sailing{
    line-height: 2;
}

/* .logo-container{
    border-radius: 50%;
    background-color: whitesmoke;
    width: 411px;
    height: 355px;
    margin: auto;
    padding: 30px;
} */

ul.no-bullet-point{
    list-style-position: inside;
    position: absolute;
    top: 18%;
    right: 15%;
    font-size: larger;
    text-align: left;
}


.content-summary{
    color: #cd113b;
    position: relative;
    height: 854px;
}
.summary-text-bullet, .summary-text{
    z-index: 3;
    text-shadow: #ffa900 2px 3px 16px;
    position: relative;
}

.summary-text-bullet ul{
    height: 332px;
    width: 410px;
}

.summary-text{
    top: 150px;
    left: 46px;
    line-height: 1.7;
    font-size: large;
}

.summary-pic{
    position: absolute;
    opacity: 0.6;
    top: -1%;
}

.page-divider{
    border-top: 10px #ff7600 dotted;
    background-color: white;
    opacity: 0.4;
    width: 33%;
    margin: 5px auto 20px;
}
.workboat-section-list{
    position: relative;
    text-shadow: #ffa900 2px 3px 16px;
    color: whitesmoke;
}

.section-title-text .display-2{
    color: #cd113b;
}

.image-ender{
    margin: auto;
    display: block;
}

#footer-section{
    height: 210px;
    max-width: 100%;
    background-color: #cd113b;
    text-align: center;
    color: azure;
    padding-top: 10px;
}

.company-name-footer{
    line-height: 1;
    color: #ffa900;
}

@media screen and (max-width: 1248px){
    
}

@media screen and (max-width: 1222px){
    .workboat-section-list{
        position: static;
    }

    .summary-text-bullet .no-bullet-point{
        position: absolute;
    }

    ul.no-bullet-point{
        position: static;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .image-with-border{
        margin-top: 9px;
        margin-bottom: 9px;
    }

    @media screen and (max-width: 910px){
        .content-summary{
            position: static;
        }

        .summary-text{
            position: static;
            margin: 10px;
        }

        .summary-text-bullet .no-bullet-point{
            position: static;
        }
    }
}